ul {
  list-style-type: none;
}

.addComment {
  display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inputStyle{
    height: 30px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: .5px solid #3d4637;
    padding-left: 10px;
    font-family: var(--main-font);
    font-size: 12px;
}





